* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(49, 49, 49);
    font-size: 16px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background: linear-gradient(to top, rgb(184, 101, 46), rgb(218, 120, 55));
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Text */
h2 {
    font-size: 1.5rem;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-bottom: 5px;
    color: white;
}

#high-score {
    color: white;
}

#score {
    color: white;
    font-size: 1.2rem;
}

#score-container {
    width: 100%;
    margin-top: 5px;
}

#wrapper {
    position: relative;
    outline: 3px solid rgb(75, 75, 75);
    background-color: rgb(83, 83, 83);
    display: flex;
    align-items: flex-end;
    max-height: 900px;
    min-height: 300px;
    overflow: hidden;
    border-radius: 8px;
}

#container {
    position: relative;
    width: 100%;
    height: 25%;
    border-top: 1px dashed rgb(121, 121, 121);
    background-color: rgb(75, 75, 75);
}

#menu {
    display: flex;
    flex-direction: column;
    position: absolute;
    align-items: center;
    background-color: #01386a;
    padding: 10px 5px 5px 5px;
    border-radius: 10px;
    z-index: 1;
}

#player-box {
    position: absolute;
    background-color: rgb(212, 125, 43);
    z-index: 1;
}

.falling-box {
    width: 50px;
    height: 50px;
    position: absolute;
}

#diff-btn-form {
    display: flex;
    padding-bottom: 10px;
}

#diff-btn-form input[type="radio"] {
    display: none;
}

#diff-btn-form label {
    padding: 4px 8px;
    background-color: rgb(78, 78, 78);
    cursor: pointer;
    user-select: none;
    border-radius: 10px; 
    margin: 0 5px;
}

#diff-btn-form input[type="radio"]:checked + label {
    background-color: orange;
    color: white;
    cursor: default;
    transition: background-color 0.3s;
}

#start-btn {
    font-size: 25px;
    padding: 0 20px 5px 20px;
    margin: 10px 0;
    border-radius: 5px;
    border: none;
    background: linear-gradient(to top, green, rgb(0, 151, 0));
    color: rgb(231, 231, 231);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    cursor: pointer;
    outline: none;
}

#start-btn:hover {
    box-shadow: 0 0 10px green;
    transition: box-shadow 0.3s ease-out;
}

.fadeOut {
    animation: fadeOut 0.3s ease-in;
}

.fadeIn {
    animation: fadeIn 0.3s ease-out;
}

@keyframes fadeOut {
    0% {opacity: 100}
    100% {opacity: 0}
}

@keyframes fadeIn {
    0% {opacity: 0}
    100% {opacity: 100}
}